<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">

  <title>DRAKKAR</title>
  <meta name="description" content="prueba técnica para drakkar">
  <meta name="author" content="Francisco Garat">
  <link rel="stylesheet" href="{{ asset('bundles/drakkartest/css/layout.css') }}">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-git2.min.js"></script>
    <script src="{{ asset('bundles/drakkartest/js/layout.js') }}"></script>
</body>
</html>